
h1 {
  color: #FFF;
  font-family: 'Courier New', sans-serif;
  font-size: 100px;
  font-weight: 100;
  line-height: 100px;
  margin-top: 0 ;
  padding: 40px,0px,20px,0px;
  background-color: #000;
  text-align: center;
}
body { 
  background:  url(cactus.gif) no-repeat center center fixed; 
  background-size: cover;
}
#par {
  color: #000;
  font-family: 'Courier New', sans-serif;
  font-size: 50px;
  font-weight: 50;
  line-height: 50px;
  margin-top: 0 ;
  padding: 40px,0px,20px,0px;
  background-color: #FFF;
  text-align: center;
  
}
.button {
  font: bold 30px Courier New, sans-serif;
  text-decoration: none;
  border-radius: 10px;
    background: #FFF;
    padding: 10px; 
    width: 200px;
    height: 150px; 
    line-height: 50px;
    color:#000;
}
.list {
   font: bold 30px Courier New, sans-serif;
  text-decoration: none;
  border-radius: 10px;
    background: #FFF;
    padding: 10px; 
    width: 200px;
    height: 150px; 
     line-height: 50px;
     color:#000;
}
body {    
    margin: 0 !important;
    padding: 0 !important;
}